<!-- I have created this file - Vivek-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TextUtils</title>
</head>
<body>
Hello !!!
{{     name    }} and my age is {{age}}

<h2>Welcome to the text analyazer. Enter your text below</h2>
<form action="/analyze" method='get'>
    <textarea name='usertext' style="margin: 0px; width: 1331px; height: 265px;"></textarea>
    <div>
        <input type="checkbox" name="removepunc"> Remove Punctuations
        <input type="checkbox" name="fullcaps"> UPPER CASE
        <input type="checkbox" name="newlineremover"> New Line Remover
        <input type="checkbox" name="extraspaceremover">Extra Space Remover
    </div>
    <div>
        <button type="submit">Analyse text</button>
    </div>
</form>

</body>
</html>